:root {
  /* Color Theme Swatches in Hex */
  --primary: #F3FEB0; 
  --primary-hover: #ebff6c;
  --secondary: #FEA443; 
  --third: #705E78; 
  --fourth: #A5AAA3; 
  --fifth: #812F33; 
  --fifth-hover: #825c5e;
  --text: #292929;
}

body {
  background: var(--fifth);
  font-family: sans-serif;
  color: var(--primary);
  font-size: 18px;
}

header {
  padding: 1em;
  margin-bottom: 2em;
  background: var(--secondary);
  color: var(--text);
}

.container {
  padding: 0 1em;
}

.feedback-stats {
  margin-bottom: 3em;
}

.card {
  background: white;
  color: var(--text);
  box-shadow: 0 0 10px -2px rgba(0,0,0,.4);
  padding: 1em;
  border-radius: 1em;
  margin: 0 auto;
  margin-bottom: 3em;
  position: relative;
}
.card.reverse {
  background: var(--text);
  color: #f0f0f0;
}
.card .num-display {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  top: -1em;
  color: var(--primary);
  background: var(--third);
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.card + .card {
  margin-top: 3em;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .card-body .btn-group {
  align-self: flex-end;
  justify-self: right;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 2em;
  display: flex;
  gap: .3em;
}

.card-body .btn-group .btn {
  background: none;
  padding: .2em;
  margin: 0;
}

.close:hover {
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  appearance: none;
  border: none;
  outline: none;
  background: var(--fifth);
  color: var(--primary);
  margin: .5em 0;
  padding: .5em;
  border-radius: .3em;
}

.btn:hover {
  background: var(--fifth-hover);
  cursor: pointer;
}

.btn:disabled {
  background: var(--third);
  color: var(--text);
}

.btn:disabled:hover {
  cursor: not-allowed;
}

.btn.btn-secondary {
  background: var(--primary);
  color: var(--fifth);
}

.btn.btn-secondary:hover {
  background: var(--primary-hover);
  color: var(--fifth);
}

.rating {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: .5em;
}

.rating li {
  display: flex;
  justify-content: center;
}

.rating li input {
  position: absolute;
  left: -10000000px;
}

.rating li input:checked + label {
  background-color: var(--secondary);
}

.rating li label {
  display: flex;
  width: 3em;
  height: 3em;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  background-color: var(--fifth);
  color: white;
}

.rating li label:hover {
  cursor: pointer;
  background-color: var(--fifth-hover);
}

.about-icon-link {
  background: white;
  border-radius: 50%;
  padding: 1em;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: fixed;
  bottom: 1em;
  right: 1em;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.3);
  z-index: 999;
}